.topnav{
    background-color: #55e77a;
    overflow: hidden;
}

.topnav a{
    float:left;
    color: rgba(12, 12, 12, 0.883);
    text-align: : center;
    padding: 14px 16px; 
    font-size: 17px;
    text-decoration: none;
}
 .topnav a:hover{
     background-color: white;
     color: rgb(0, 0, 255);
}

.topnav a.active {
    background-color: white ;
    color:rgb(0, 4, 255);     
}

body{
    margin:0;
    padding: 0;
    background-color: white;
    font-size: 16px;
    color: black;
    font-family: sans-serif;
    font-weight: 200;
}

h1{
    font-weight: 100;
}
#login-box{
    position: relative;
    margin-left: 250px;
    margin-top: 80px;
    width: 600px;
    height: 300px;
    background-color: rgb(146, 146, 236);
    border-radius: 2px;
    box-shadow: 0 2px 4px rgb(224, 224, 243);
}
.left{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 0 0 60px ;
    height: 400px;
}

h1{
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

input[type="text"],
input[type="password"]{
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    /* border: none; */
    border-bottom: 1px solid white;
    font-family: sans-serif;
    font-weight: 400;
}

input[type="text"]:focus,
input[type="password"]:focus{

    border-bottom: 2px solid rgb(236, 184, 88);
    color: rgb(78, 102, 206);
    transition: 0.2s ease;
}

input[type="submit"]{
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background-color: rgb(52, 49, 58);
    border: none  ;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

input[type="submit"]:hover{
    opacity: 0.8;
    box-shadow: 0 4px 4px black;
    transition: 0.1s ease;
}

/* .right{
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px; */

}

.right .logwith{
    margin-bottom: 40px;
    font-size: 28px;
    color: blanchedalmond;
    text-align: center;
}

button .social-signin{
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    transition: 0.2 ease;
    cursor: pointer;
} 
 
button .social-signin:hover
{
    box-shadow: 0 2px 4px black;
    transition: 0 2s ease;
}

button .Social-Signin.twitter{
    background-color: royalblue;
}

button .Social-Signin.facebook{
    background-color: rgb(5, 41, 151);
}

button .Social-Signin.google{
    background-color: rgb(233, 62, 62);
}